@using Pawn.Libraries;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .bgtd td {
        background-color: #EEE8AA !important
    }



    .bgtd-dn {
        background-color: #924565;
        color: white
    }

    .bgtd-nl {
        background-color: #e4a146;
        color: white
    }
</style>

@Html.Action("AddBreadCrumb", "Common", new BreadCrumbModels
{
    Title = "Danh sách hợp đồng góp vốn cửa hàng",
    ListLiModels = new List<LiModels>
        {
        new LiModels { Name = "Quản lý nguồn vốn", IsActive = true}
        }
})
<div class="content-body" id="table"
     data-ng-controller="tableController"
     data-url="@Url.Action("LoadDataCapital", "Capital")"
     data-detail-url="@Url.Action("LoadDetailCapital", "Capital")"
     data-update-url="@Url.Action("AddCapital", "Capital")"
     data-add-url="@Url.Action("AddCapital", "Capital")">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-2 col-lg-4 col-md-12 mb-1">
                                <fieldset class="form-group">
                                    <input type="text" class="form-control border-primary" ng-model="Parameters.Keyword" data-button="#btnSearch" id="txtKeyword" placeholder="Từ khóa tìm kiếm">
                                </fieldset>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-12 mb-1">
                                <div class="input-group"
                                     moment-picker="Parameters.fromDateString"
                                     max-date="Parameters.toDateString"
                                     format="@(Pawn.Libraries.Constants.DateFormat.ToUpper())">
                                    <input class="form-control"
                                           placeholder="Tư ngày"
                                           ng-model="Parameters.fromDateString"
                                           ng-model-options="{ updateOn: 'blur' }">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2"><span class="fa fa-calendar"></span></span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-12 mb-1">
                                <div class="input-group"
                                     moment-picker="Parameters.toDateString"
                                     min-date="Parameters.fromDateString"
                                     format="@(Pawn.Libraries.Constants.DateFormat.ToUpper())">
                                    <input class="form-control"
                                           placeholder="Select a date"
                                           ng-model="Parameters.toDateString"
                                           ng-model-options="{ updateOn: 'blur' }">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2"><span class="fa fa-calendar"></span></span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-12 mb-1">
                                <fieldset class="form-group">
                                    <select chosen
                                            ng-model="Parameters.StatusContractId"
                                            class="form-control"
                                            ng-options="item.Id as item.Text for item in contractOptions | orderBy:'OrderIndex'"></select>
                                </fieldset>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-12 mb-1">
                                <fieldset class="form-group">
                                    <button type="button" class="btn btn-primary" id="btnSearch" ng-click="Search()">Tìm kiếm</button>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="box-search" style="padding-bottom: 10px">
                            <div class="form-inline">
                                <a class="btn btn-primary" href="javascript:void(0)" ng-click="AddNew()"><i class="fa fa-plus"></i>Thêm mới</a>
                            </div>
                        </div>
                        <div class="table-responsive" id="divAccount">
                            @Html.Partial("_Loading")
                            <table class="table table-bordered table-striped w-100"
                                   style="position: relative; width: 100%; height: 100%"
                                   role="grid">
                                <thead class="cf">
                                    <tr>
                                        <th style="text-align: center" class="{{sortType!='PageIndex'?'sorting':(sortReverse?'sorting_asc':'sorting_desc')}}" tabindex="0" aria-controls="datatable-responsive" ng-click="sortType = 'PageIndex'; sortReverse = !sortReverse">
                                            #
                                        </th>
                                        <th class="{{sortType!='CustomerName'?'sorting':(sortReverse?'sorting_asc':'sorting_desc')}}"
                                            tabindex="0" aria-controls="datatable-responsive" ng-click="sortType = 'VoucherCode'; sortReverse = !sortReverse">
                                            Tên KH
                                        </th>
                                        <th class="{{sortType!='StatusName'?'sorting':(sortReverse?'sorting_asc':'sorting_desc')}}"
                                            tabindex="0" aria-controls="datatable-responsive" ng-click="sortType = 'VoucherType'; sortReverse = !sortReverse">
                                            Loại vốn
                                        </th>
                                        <th class="{{sortType!='MoneyNumber'?'sorting':(sortReverse?'sorting_asc':'sorting_desc')}}" style="text-align: center"
                                            tabindex="0" aria-controls="datatable-responsive" ng-click="sortType = 'CreateDate'; sortReverse = !sortReverse">
                                            Số tiền (VNĐ)
                                        </th>
                                        <th style="text-align: center" class="{{sortType!='DocumentDate'?'sorting':(sortReverse?'sorting_asc':'sorting_desc')}}"
                                            tabindex="0" aria-controls="datatable-responsive" ng-click="sortType = 'Customer'; sortReverse = !sortReverse">
                                            Ngày góp
                                        </th>
                                        <th class="{{sortType!='MoneyNumber'?'sorting':(sortReverse?'sorting_asc':'sorting_desc')}}"
                                            tabindex="0" aria-controls="datatable-responsive" ng-click="sortType = 'MoneyNumber'; sortReverse = !sortReverse">
                                            Lãi suất
                                        </th>
                                        <th class="{{sortType!='Reason'?'sorting':(sortReverse?'sorting_asc':'sorting_desc')}}"
                                            tabindex="0" aria-controls="datatable-responsive" ng-click="sortType = 'Reason'; sortReverse = !sortReverse">
                                            Lãi đã trả
                                        </th>
                                        <th class="{{sortType!='Reason'?'sorting':(sortReverse?'sorting_asc':'sorting_desc')}}"
                                            tabindex="0" aria-controls="datatable-responsive" ng-click="sortType = 'Reason'; sortReverse = !sortReverse">
                                            Ngày phải đóng lãi
                                        </th>
                                        <th class="{{sortType!='Reason'?'sorting':(sortReverse?'sorting_asc':'sorting_desc')}}"
                                            tabindex="0" aria-controls="datatable-responsive" ng-click="sortType = 'Reason'; sortReverse = !sortReverse">
                                            Tình trạng
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="item in filteredItems = (ListOfItem | filter : search | orderBy:sortType:sortReverse)" contextmenurepeater>
                                        <td style="text-align: center; width: 40px !important; vertical-align: middle" data-title="#">{{(Pager.currentPage - 1) *Pager.pageSize + ($index + 1)}}</td>
                                        <td style="vertical-align: middle;"><a class="font-blue-alt" href="javascript:void(0)" ng-click="getDetail(item)">{{item.CustomerName}}</a></td>
                                        <td>{{item.Method == 14 ? "Đầu tư" : "Đi vay"}}</td>
                                        <td class="text-right">{{item.MoneyNumber| currency:"":0}}</td>
                                        <td class="text-center" style="width:120px">{{item.DocumentDate}}</td>
                                        <td class=""><strong>{{item.InterestRate}}</strong>{{(item.RateTypeName || "").replace(' (VD : 2% / 1 tuần)','')}}</td>
                                        <td class="text-right">{{item.MoneyPaid|currency:"":0}}</td>
                                        <td class="text-right {{item.StatusType == @((int)StatusTypeCapital.DenNgay)? 'bgtd-dn' : ''}}" style="width: 40px !important">{{item.LoanDate}}</td>
                                        <td class="{{item.StatusType == @((int)StatusTypeCapital.NoLai)? 'bgtd-nl' : ''}}" style="vertical-align: middle;width: 120px !important">{{item.Method == 14 ? "Đang đầu tư" : (item.StatusType == @((int)StatusTypeCapital.NoLai)? 'Nợ lãi': 'Đang vay')}}</td>
                                        <td style="vertical-align: middle; text-align: center;width:50px">
                                            <a style="cursor: pointer" ng-click="DetailCapital(item.Id)">
                                                <i title="{{item.CustomerName}}" class="fa fa-cubes"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr ng-show="ListOfItem.length == 0 || ListOfItem == undefined">
                                        <td colspan="10">
                                            <p style="background-color:white;color:#a2a2a2;padding:10px;text-align:center"> No data found!</p>
                                        </td>
                                    </tr>
                                    <tr class="bgtd">
                                        <td style="width: 40px !important"></td>
                                        <td></td>
                                        <td class="text-right" style="color:brown"><strong>Tổng tiền</strong></td>
                                        <td class="text-right" style="color:red"><strong>{{getTotal()| currency:"":0}}</strong></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            @Html.Partial("_PagingInformation")
                        </div>
                        <nav class="text-center">
                            <ul id="pagination" class="pagination"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_Insert")

    @Html.Partial("_Detail")

</div>


@section scripts
{
    @Scripts.Render("~/Scripts/app/common/table.js")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var urlLoadSelect = '@Url.Action("LoadSelectStatusAngular", "Common")';
        var urlLoadCapitalDetail = '@Url.Action("LoadCapitalDetail", "Capital")';
        var urlLoadHistoryCapital = '@Url.Action("LoadDataHistory", "Common")';
        var urlLoadDataCapitalLoan = '@Url.Action("LoadDataCapitalLoan", "Capital")';
        var urlAddWithDrawCapital = '@Url.Action("AddWithDrawCapital", "Capital")';
        var urlAddCapitalPayDays = '@Url.Action("AddCapitalPayDays", "Capital")';
        var urlDeleteCapitalLoan = '@Url.Action("DeleteCapitalLoan", "Capital")';
        var urlCalculatorMoneyPerDayPay = '@Url.Action("CalculatorMoneyPerDayPay", "Capital")';
        var urlAddExtentionContract = '@Url.Action("AddExtentionContract", "Common")';
        var urlCloseContract = '@Url.Action("CloseContract", "Capital")';
        var urlLoadCustomerList = '@Url.Action("LoadDataCustomer", "Common")';

        var historyType = @((int)DocumentTypeEnum.NguonVon);
        var docType = @((int)DocumentTypeEnum.NguonVon);
    </script>
    <script src="~/Scripts/app/capital/capital.js"></script>
}

