@model List<PawnStoreModels>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width: 1%">#</th>
            <th class="text-center">Tên cửa hàng</th>
            <th>Địa chỉ</th>
            <th class="text-center">Tổng nguồn vốn</th>
            <th class="text-center">Ngày tạo</th>
            <th class="text-center" style="width: 3%">Trạng thái</th>
            <th class="text-center" style="width: 3%">Action</th>
        </tr>
    </thead>
    <tbody id="tbodyStore" data-paging="#pagination" data-totalrows="@ViewBag.TotalRows">
        @if (Model != null && Model.Count > 0)
        {
            var i = ViewBag.Index;
            foreach (var item in Model.ToList())
            {
                <tr>
                    <th scope="row">@i</th>
                    <td class="text-center">
                        @*<a href="/quan-ly-cua-hang/chinh-sua-cua-hang/@item.Id" style="margin-right: 10px; cursor: pointer">
                            @item.Name
                        </a>*@ 
                        <a href="@Url.Action("SetStore","Store", new { storeId = item.Id})" style="margin-right: 10px; cursor: pointer">
                            @item.Name
                        </a>
                    </td>
                    <td>@item.Address</td>
                    <td class="text-center">@string.Format("{0:0,0}", item.MoneyNumber)</td>
                    <td class="text-center">@item.CreatedDate.ToString(Pawn.Libraries.Constants.DateFormat)</td>
                    <td class="text-center ">@(item.IsActive ? "Hoạt động" : "Khóa")</td>
                    <td class="text-center">
                        <a href="/quan-ly-cua-hang/chinh-sua-cua-hang/@item.Id" style="margin-right: 10px; cursor: pointer">
                            <i title="Edit" class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:void(0)" data-id="@item.Id" style="margin-right: 10px; cursor: pointer" data-action="btnDelete">
                            <i title="Delete" data-id="@item.Id" class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                i++;
            }
        }
        else
        {
            <tr>
                <td colspan="9" style="text-align: center">No data display</td>
            </tr>
        }
    </tbody>
</table>
